---
import Login from "../components/Login";
import Login2 from "../components/Login2";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<Login client:load />
		<div style="height: 50px"></div>
		<Login2 client:load />
	</body>
</html>
